{% extends '::base.html.twig' %}

{% block fos_message_content %}
<div class="form-wrapper">

<h4>{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h4>

    <ul>
        <li><a href="{{ url('photo_message_inbox', {"username": app.user.profile.profileUsername} ) }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
        <li><a href="{{ url('photo_message_sent', {"username": app.user.profile.profileUsername}) }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
        <li><a href="{{ url('photo_message_delete', {"username": app.user.profile.profileUsername}) }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
    </ul>

<a class="link" href="{{ url('photo_message_new_thread', {"username": app.user.profile.profileUsername} )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>

{% include '@App/Message/threads_list.html.twig' with {'threads': threads, "username": app.user.profile.profileUsername} %}
</div>
{% endblock %}
