{% extends 'AppBundle:Message:layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>

<form action="{{ url('photo_message_new_thread', {"username": app.user.profile.profileUsername}) }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}
