{% extends '::base.html.twig' %}

{% block fos_message_content %}
<div class="form-wrapper">
<h2>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h2>

{% include '@App/Message/threads_list.html.twig' with {'threads': threads} %}
</div>
{% endblock %}
