/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "bootstrap";
@import "ct-paper";
@import "font-awesome";



body {
  font-family: 'Questrial', sans-serif;
}

.post {
  border-radius: 4px;
  width: 620px;
  max-width: 100%;
  margin: 0 auto 50px;
  background-color: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  .post-header {
    margin: 0px 20px;
    position: relative;
    .options {
      display: inline;
      margin: 0;
      position: absolute;
      right: 0;
      top: 12px;
      .btn {
        padding: 0;
        margin: 2px;
      }
    }
    a {
      display: inline-block;
      line-height: 50px;
    }
    .options {
      display: inline;
      margin: 14px;
      ul {
        li {
          a {
            display: block;
            line-height: 0px;
          }
        }
      }
    }
  }

  .image-post {
    background-color: dimgrey;
    display: inline-block;
    img {
      margin: 0 auto;
      width: 100%;
    }
  }
  .post-description {
    margin: 10px 15px;
    p {
      margin: 0 5px 10px;
    }
  }
  .post-comment {
    margin: 0px 20px;
    p {
      margin: 0 0 10px;
    }
    .post-single-comment {
      display: inline-block;
      margin-left: 10px;
    }
  }
  #post-add-comment {
    margin: 0 20px;
    .input {
      width: 100%;
      border: 0;
    }
  }
}

#blog_post_show {

}

/*
*
*Edit post
*
*/

#post_new {

}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
  position: relative;
  a.sf-form-row-add-image {
    color: #ababab;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 81px;
    line-height: 20px;
    font-size: 18px;
    border: 1px dashed #ababab;
    margin: 6px;
    cursor: pointer;
    vertical-align: top;
    box-shadow: 0 2px 0 transparent;
    transition: box-shadow 0.2s ease;
    padding: 15px 0;
    position: relative;
  }
  #post_imageFile {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 100px;
    height: 80px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-50%);
  }
  img {
    margin: 0 auto;
  }
}
#blog_index {

}

.messages {
  .alert-dismissible .close {
    position: relative;
    top: 0px;
    right: 0px;
    color: inherit;
  }
}

.main-raised {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  z-index: 3;
}

.profile-content {
    .header {
      height: 380px;
      background-position: top center;
    }
    .profile {
      text-align: center;
      img {
        max-width: 160px;
        margin: -80px auto 0;
      }
    }
    .description {
      margin: 30px auto 0;
      max-width: 600px;
    }
    .profile-tabs {
      margin-top: 60px;

    }
    .gallery {
      margin-top: 45px;
      padding-bottom: 50px;
      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }

}

.list-masonry {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  .post-in-list {
    display: inline-block;
    padding: .25rem;
    width: 100%;

  }
}

.navbar .navbar-nav > li > a .fa {
  top: 3px;
  position: relative;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  background-image: url("");
}
