/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "bootstrap";
@import "ct-paper";
@import "font-awesome";



body {
  font-family: 'Questrial', sans-serif;

}

nav.navbar-custom {
  background-color: transparent;
  border-bottom: none;
  .navbar-nav {
    li {
      a {
        line-height: 2.42857;
        &:hover {
          color: #333;
        }
        .fa {
          top: 3px;
          position: relative;
        }
        img {
          display: inline;
          margin: 0;
        }
      }
    }
  }
}

.navbar-profile {
  li {
    a {
      .fa {
        color: #ffffff;
      }
    }
  }
}

.navbar-open {
  background-color: #ffffff;
}

.post {
  border-radius: 4px;
  width: 620px;
  max-width: 100%;
  margin: 0 auto 50px;
  background-color: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  .post-header {
    margin: 0px 20px;
    position: relative;
    img {
      display: inline;
      margin: 0;
    }
    .options {
      display: inline;
      margin: 0;
      position: absolute;
      right: 0;
      top: 12px;
      .btn {
        padding: 0;
        margin: 2px;
      }
    }
    a {
      display: inline-block;
      line-height: 50px;
      font-weight: 600;
      color: #333;
    }
    .options {
      display: inline;
      margin: 5px;
      ul {
        li {
          a {
            display: block;
            line-height: 0px;
          }
        }
      }
    }
  }

  .image-post {
    background-color: dimgrey;
    img {
      margin: 0 auto;
      width: 100%;
    }
  }
  .post-description {
    margin: 10px 15px;
    p {
      margin: 0 5px 10px;
    }
  }
  .post-comment {
    margin: 0px 20px;
    p {
      margin: 0 0 10px;
    }
    .post-single-comment {
      display: inline-block;
      margin-left: 10px;
    }
  }
  .post-comment-add {
    margin: 0 20px 20px;
    padding: 0 0 20px 0;
    input {
      background: #fff;
      border: 0;
      width: 100%;
      padding: 10px;
      &:focus {
        border: 0;

      }
    }
    /* do not group these rules */
    *::-webkit-input-placeholder {
      color: #403D39;
    }
    *:-moz-placeholder {
      /* FF 4-18 */
      color: #403D39;
    }
    *::-moz-placeholder {
      /* FF 19+ */
      color: #403D39;
    }
    *:-ms-input-placeholder {
      /* IE 10+ */
      color: #403D39;
    }
  }
}

#blog_post_show {

}

/*
*
*Edit post
*
*/

#post_new {

}



.form-wrapper, .form-wrapper-edit {
  width: 100%;
  max-width: 620px;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
  position: relative;
  .thread-header {
    background-color: #fff;
    position: relative;
    margin-bottom: 25px;
    h4, .h4 {
      margin: 0 0 0;
      display: inline-block;
    }
    .unstyled {
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin: 0 8px;
      }
    }
    .thread-new-btn {
      margin: 25px 0;
      text-align: center;
    }
  }
  .image-wrapper {
    background-color: #dddddd;
    position: relative;
      .cancel {
        position: absolute;
        top: 8px;
        right: 8px;
        font-weight: 100;
        border: 1px solid #000;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ddd;
        color: #000;
        &:before {
          position: absolute;
          right: 3px;
          top: 1px;
        }
      }
  }

  .sf-form-row-add-image, .sf-form-row-add-image-background {
    color: #ababab;
    text-align: center;
    display: inline-block;
    width: 140px;
    height: 94px;
    line-height: 20px;
    font-size: 18px;
    border: 1px dashed #ababab;
    margin: 6px;
    cursor: pointer;
    vertical-align: top;
    box-shadow: 0 2px 0 transparent;
    transition: box-shadow 0.2s ease;
    padding: 15px 0;
    position: relative;
  }
  label {
    display: none;
  }
  small {

  }
  #post_imageFile, #profile_edit_imageFile, #profile_edit_imageBackgroundFile_file  {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 140px;
    height: 94px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-50%);
  }

  #profile_edit_imageFile {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 140px;
    height: 94px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-50%);
  }

  #profile_edit_imageBackgroundFile_file {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 140px;
    height: 94px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-50%);
  }

  img {
    margin: 0 auto;
  }
  input[type="file"] {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 140px;
    height: 94px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-50%);
  }
  .image-form-wrapper {
    margin-bottom: 30px;
  }

  .messenger_thread_message:nth-child(even) {
    margin-bottom: 20px;
    width: 100%;
    max-width: 320px;
    float: left;
    .messenger_thread_message_body {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 9px;
      word-wrap: break-word;
    }
  }
  .messenger_thread_message:nth-child(odd) {
    margin-bottom: 20px;
    width: 100%;
    max-width: 320px;
    float: right;
    text-align: right;
    .messenger_thread_message_body {
      border-radius: 3px;
      padding: 9px;
      background-color: #ddd;
      border: 1px solid #000;
      word-wrap: break-word;
    }
  }
  .thread-reply {
    float: none;
  }
}

.image-wrapper-profile {
  text-align: center;
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}



#blog_index {

}

.messages {
  .alert-dismissible .close {
    position: relative;
    top: 0px;
    right: 0px;
    color: inherit;
  }
}

.main-raised {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  z-index: 3;
}

.profile-content {
    .header {
      height: 380px;
      background-position: top center;
    }

    .profile {
      text-align: center;
      img {
        max-width: 160px;
        margin: -80px auto 0;
      }
    }
    .description {
      margin: 30px auto 0;
      max-width: 600px;
    }
    .profile-tabs {
      margin-top: 60px;

    }
    .gallery {
      margin-top: 45px;
      padding-bottom: 50px;
      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }

}

.avatar {
  img {
    display: inline-block;
    margin: 0;
  }

}

.list-masonry {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  .post-in-list {
    display: inline-block;
    padding: .25rem;
    width: 100%;

  }
}

.form-wrapper-edit {
  width: 100%;
  max-width: 620px;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
  position: relative;
  h4, .h4  {
    margin: 0 0 20px;
    text-align: center;
  }
  .btn {
    margin-top: 20px;
  }
  #profile-image {
    margin-bottom: 20px;
  }
}



.login-form {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  background-image: url("");
}

.thread-single {
  position: relative;
  //background-color: #ddd;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 12px;
  border: 1px solid #ddd;
  .thread-head {
    text-align: right;
    margin-top: 15px;
  }
  .thread-date {
    display: inline-block;
  }
  .thread-new {
      color: green;
      font-weight: 900;
      display: inline-block;
    }
  .thread-sender {
    display: inline-block;
    margin-left: 20px;
  }
    a {
      color: #777;
      font-weight: 900;
      &:hover {
        color: #5e5e5e;
      }
    }
  input.btn {
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 0 4px;
    font-size: 10px;
    font-weight: 900;
  }
}
