fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.xml"

fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"



#app_security_registration_register:
#    defaults:  { _controller: AppBundle:Security/Registration:register }
#    path: /register
#app.user_profile:
#    defaults:  { _controller: App }
#    path: /profile/{username}
app:
    resource: "@AppBundle/Controller/"
    type:     annotation

person:
    path:      /user/{profileUsername}
    defaults:  { _controller: AppBundle:UserProfile:show }

fos_message:
    resource: "@FOSMessageBundle/Resources/config/routing.xml"
    prefix: /optional_routing_prefix

photo_message_id_delete:
    path: /user/{username}/inbox/{threadId}/delete
#    resource: "@AppBundle/Controller/Message/MessageController.php"
    defaults: { _controller: AppBundle:Message/Message:delete }
    methods: POST|DELETE

photo_message_id_undelete:
    path: /user/{username}/inbox/{threadId}/undelete
#    resource: "@AppBundle/Controller/Message/MessageController.php"
    defaults: { _controller: AppBundle:Message/Message:undelete }
    methods: POST

user_autocomplete:
    path:     /user/inbox/new-message/autocomplete
    defaults: { _controller: AppBundle:Autocomplete:index }

ajax_autocomplete_users:
  path:  /user/inbox/new-message/ajax/autocomplete/update/data
  defaults: { _controller: AppBundle:searchUser:updateData }

user-search:
    path:  /users-list/user-search
    defaults: { _controller: AppBundle:UserSearch:userSearch }