# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
  app.form.profile_type:
      class: AppBundle\Form\ProfileType
      tags:
          - { name: form.type, alias: app_user_profile_type }
  app.form.user_type:
      class: AppBundle\Form\UserType
      arguments: ['@?', '@session']
      tags:
          - { name: form.type, alias: app_user_type }
  app.form_type.post_type:
      class: AppBundle\Form\PostType
      tags:
          - { name: form.type, alias: app_edit_profile_type }


#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

  markdown:
      class: AppBundle\Utils\Markdown

  app.controller.user_profile_controller:
      class: AppBundle\Controller\UserProfileController

  app.event_listener_user.user_was_followed_event_listener:
      class: AppBundle\EventListener\UserWasFollowedEventListener
      arguments: [ @doctrine.orm.entity_manager ]
      tags:
          - {name: kernel.event_listener, event: user_was_followed_event, method: handle}

  app.manager.user_connection_manager:
      class: AppBundle\Manager\UserConnectionManager
      arguments: [ @doctrine.orm.entity_manager, @event_dispatcher ]
