{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-xs-12 col-sm-8" id="profile_following">
            <div class="row">
                {% if followers|length %}
                    {% include 'AppBundle:User:user_connection_followers.html.twig' with {'profile' : profile} %}
                {% else %}
                    <div class="panel panel-white panel-empty-follow text-center text-light-gray">

                        {% if app.user %}
                            {% if app.user.profile.id == profile.id %}
                                You don't have any followers.
                            {% else %}
                                {{ profile.firstName }} {{ profile.lastName }} doesn..'t have any followers.
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="edit_overlay"></div
{% endblock main %}